<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 
<html>

<head>
<title>{{category_name}} Spirtal.py</title>
{% load staticfiles %}
<link href={% static "main.css" %} rel="stylesheet" type="text/css" />
</head>

<body>

<div class="content">

<div id="logo_panel">
{% load staticfiles %}
<a href="/">
<img id="logo" src="{% static "spirtal_logo.png" %}" alt="Image1"/>
</a>
</div>

<div class="navcontainer">
<ul>
{% for navItem in navigationBar %}
<li><a href={{navItem.1}}>{{navItem.0}}</a></li>
{% endfor %}
</ul>
</div>

<div class="sidebar">
<ul>
{% for main_category in side_bar.0 %}
    <li><a href="/news/categories/{{main_category.id}}/">{{ main_category.name }}</a></li>
    {% for id, sub_categories in side_bar.1.items %}
        {% if id == main_category.id %}
            <ul id="subCategoryList">
            {% for sub_category in sub_categories %}
                <li id="subCategoryList"><a href="/news/categories/{{main_category.id}}/{{sub_category.id}}">{{ sub_category.name }}</a></li>
            {% endfor %}
            </ul>
         {% endif %}
    {% endfor %}
{% endfor %}
</ul>
</div>

<div class="categoryNews">
<table id="otherNewsTable">
{% for news in news_to_show %}
<tr>
	<td id="otherNewsImageCell"><a href="/news/{{news.0}}"><img id="otherNewsImage" src="/media/{{news.1}}"/></a></td>
	<td id="otherNewsTextCell"><a href="/news/{{news.0}}"><span id="otherNewsTitle">{{news.2}}</span></a></td>
</tr>
{% endfor %}
</table>
</div>

</div>

</body>

</html>