{% extends "main/base.html" %}

{% block content %}
<div class="mainNews">
<div id="firstNews">
<a href="/news/{{first_news.0}}"><img id="firstNewsImage" src="{{first_news.1.img}}" alt="First News Image"/>
<div id="firstNewsText">
{{first_news.1.title}}
</div>
</a>

<div id="secondaryNews">
{% for news in main_news %}
	<div id="secondaryNewsItem"><a href="/news/{{news.0}}">
			<img id="secondaryNewsItemImage" src="{{news.1.img}}" alt="Main News Image"/>
			<div id="secondaryNewsItemTitle">
				{{news.1.title}}
			</div>
		</a>
	</div>
{% endfor %}
</div>

</a>
</div>

</div>

<div id="spaceBetweenMainNewsAndOthers"></div>

<div class="otherNews">
<table id="otherNewsTable">
{% for news in other_news %}
<tr>
	<td id="otherNewsImageCell"><a href="/news/{{news.0}}"><img id="otherNewsImage" src="/media/{{news.1}}"/></a></td>
	<td id="otherNewsTextCell"><a href="/news/{{news.0}}"><span id="otherNewsTitle">{{news.2}}</span></a></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}