{% extends "main/base.html" %}

{% block content %}
<div class="newsContainer">
<div id="newsTitle">
{{news_title}}
</div>
<div id="newsTextAndImage">
<img id="newsImage" src="{{photo}}" alt="Image1"/>
{{news_text|safe}}
</div>

</div>

<div class="addCommetnContainer">
{% if user_info %}
Add your comment here:
<form class="addCommentForm" action="/news/comment/" method="POST">{% csrf_token %}
    <input id="commentTitle" type="text" name="commentTitle" value="" placeholder="Title"/>
    <textarea id="comment" type="text" name="comment" value="" placeholder="Your comment"></textarea>
    <input type="hidden" name="news_id" value={{news_id}}/>
    <input type="hidden" name="fromPath" value={{ request.get_full_path }}/>
    <input id="button" type="submit" value="Comment"/>
</form>
{% else %}
If you want to comment the news, first log in from the menu above.
{% endif %}
</div>

<div class="commentsContainer">
Comments: {{ comments_to_show|length }}
{% for comment_to_show in comments_to_show %}
<div class="singleComment" id="comment_id_{{comment_to_show.id}}">
<table>
<tr>
<td>
{{ comment_to_show.user_first_name }} {{ comment_to_show.user_last_name }}
</td>
<td id="commentDate">
{{ comment_to_show.created_at }}
</td>
<td id="commentNumber">
No: {{ comment_to_show.comment_number }}
<!---<a href="/comments/answer/">Answer</a>-->
<form action="#comment_id_{{comment_to_show.id}}" method="POST"/>{% csrf_token %}
    <input type="hidden" name="comment_to_answer_id" value={{comment_to_show.id}}/>
    <input id="button" type="submit" value="Answer"/>
</form>
</td>
</tr>
{% if comment_to_show.root_comment %}
<tr>
<td>
Answer to comment No: {{ comment_to_show.root_comment.comment_number }} from {{ comment_to_show.root_comment.user.first_name }} {{ comment_to_show.root_comment.user.last_name }}
</td>
</tr>
{% endif %}
<tr>
<td>
{{ comment_to_show.title }}
</td>
</tr>
<tr>
<td>
{{ comment_to_show.text }}
</td>
</tr>
</table>
{% ifequal comment_to_answer_id comment_to_show.id %}
<form class="addCommentForm" action="/news/comment/" method="POST">{% csrf_token %}
    <input id="commentTitle" type="text" name="commentTitle" value="" placeholder="Title"/>
    <textarea id="comment" type="text" name="comment" value="" placeholder="Your comment"></textarea>
    <input type="hidden" name="news_id" value={{news_id}}/>
    <input type="hidden" name="fromPath" value={{ request.get_full_path }}/>
    <input type="hidden" name="answer_to_comment_id" value={{ comment_to_answer_id }}/>
    <input id="button" type="submit" value="Comment"/>
</form>
{% endifequal %}
{% endfor %}
</div>
</div>
{% endblock %}