{% extends "statistics/base.html" %}

{% block content %}
<div id="ranking">
<table id="rankingTable">
<tr>
<td>Place</td>
<td>Team</td>
<td>Played</td>
<td>Wins</td>
<td>Draws</td>
<td>Lost</td>
<td>Goals</td>
<td>Poinst</td>
</tr>
{% for teamInfo in teamsInfo %}
<tr>
<td>{{ forloop.counter }}</td>
<td><a href="/statistics/teams/{{teamInfo.id}}"><img id="rankingImage" src="/media/{{teamInfo.team_logo}}" alt=""/>{{ teamInfo.name }}<a/></td>
<td>{{ teamInfo.playedMatches }}</td>
<td>{{ teamInfo.wins }}</td>
<td>{{ teamInfo.draws }}</td>
<td>{{ teamInfo.lost }}</td>
<td>{{ teamInfo.goalsFor }}:{{ teamInfo.goalsAgainst }} ({{ teamInfo.goalDiff }})</td>
<td>{{ teamInfo.points }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}