<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 
<html>

<head>
<title>Statistics Sportal.bg</title>
{% load staticfiles %}
<link href={% static "main.css" %} rel="stylesheet" type="text/css" />
<link href={% static "statistics.css" %} rel="stylesheet" type="text/css" />
</head>

<body>

<div class="content">

<div id="logo_panel">
{% load staticfiles %}
<a href="/">
<img id="logo" src="{% static "logo.png" %}" alt="Image1"/>
</a>
</div>

<div class="navcontainer">
<ul>
{% for navItem in navigationBar %}
<li><a href={{navItem.1}}>{{navItem.0}}</a></li>
{% endfor %}
</ul>
</div>

<div class="sidebar">
<ul>
{% for main_category in side_bar.0 %}
    <li><a href="/news/categories/{{main_category.id}}/">{{ main_category.name }}</a></li>
    {% for id, sub_categories in side_bar.1.items %}
        {% if id == main_category.id %}
            <ul id="subCategoryList">
            {% for sub_category in sub_categories %}
                <li id="subCategoryList"><a href="/news/categories/{{main_category.id}}/{{sub_category.id}}">{{ sub_category.name }}</a></li>
            {% endfor %}
            </ul>
         {% endif %}
    {% endfor %}
{% endfor %}
</ul>
</div>

<div id="supportedCountries">
Supported leagues:
<br>
<ul>
{% for country_id, country_info in supported_countries.items %}
	<li>{{country_info.0}}</a></li>
	<ul>
	{% for league_id, league in country_info.1.items %}
		<li><a href="/statistics/leagues/{{league_id}}">{{league}}</a></li>
	{% endfor %}
	</ul>
{% endfor %}
</ul>
</div>

</div>

</body>

</html>